*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Arial, Helvetica, sans-serif;
}
/* =============================================================== */
#grid{
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.memory-card{
    width: calc(25% - 5px);
    height: 33.33%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    transform-style: preserve-3d;
    transition: .4s;
}
.front-face,.back-face{
  width: 100px;
   height: 150px;
   position: absolute;
   backface-visibility: hidden;
}

.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face{
    transform: rotateY(180deg);
}
